<div class="card">
  <div class="card-body">
    <h3>Good Morning</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero perferendis ipsa quidem! Maxime, beatae dolorum? Laudantium fuga nesciunt pariatur voluptatum atque. Minima, ratione quis? Culpa cum cupiditate blanditiis ratione. Nesciunt ducimus vel deserunt et animi repudiandae ut aut corrupti adipisci pariatur distinctio officia quisquam maiores eum hic perspiciatis non iure error, optio saepe. Obcaecati labore eos aut! Maxime inventore repellendus dolorem voluptatem repellat fugit impedit quisquam culpa minima at unde reprehenderit consectetur eum aliquam nostrum, illo cupiditate voluptates animi. Aut pariatur nam modi quos aliquam sequi perferendis deserunt, iure minima debitis officiis numquam atque dolore cum! Dicta ea inventore architecto?</p>
  </div>
</div>
