<!-- This ia font Icon to mention in web page -->
<!-- <h2>App component</h2>
<i class="fa-brands fa-youtube fa-10x"></i>
<i class="fa-brands fa-facebook text-primary fa-10x"></i>
<i class="fa-brands fa-instagram fa-10x"></i> -->
<!-- start 09 video to continue to it-->
<!-- ----------------------------------------------------------------------------- -->
<!-- <nav class="navbar navbar-expand-sm  navbar-dark bg-teal">
  <div class="container">
  <a class="navbar-brand "><i class="fas fa-plane-departure"></i>  Dr.Shubham Jain</a>
<button class="navbar-toggler" data-toggle="collapse" data-target="#travel-navbar">
  <span class="navbar-toggler-icon ">
  </span>
</button>

  <div class="collapse navbar-collapse" id="travel-navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="navbar-item px-3">
              <a class="navbar-link" routerLink="home">Home</a>
          </li>
          <li class="navbar-item px-3">
              <a class="navbar-link" routerLink="about">About</a>
          </li>
          <li class="navbar-item px-3">
              <a class="navbar-link" routerLink="contact">Contact</a>
          </li>
          <li class="navbar-item px-3">
              <a class="navbar-link" routerLink="signup">Signup</a>
          </li>
          <li class="navbar-item px-3">
              <a class="navbar-link" routerLink="login">LogIn</a>
          </li>
      </ul>
  </div>
</div>
</nav>

  <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button> -->

<!-- Nav Bar -->

<nav class="navbar navbar-dark bg-danger">
  <a href="" class="navbar-brand">Angular with Sever with Http</a>
</nav>
<!-- <app-product-item></app-product-item> -->
<!-- <app-shopping-cart></app-shopping-cart> -->
<!-- <app-change-username></app-change-username> -->
<!-- <app-change-username-auto></app-change-username-auto> -->
<!-- <app-sms-app></app-sms-app> -->
<!-- <app-show-password></app-show-password> -->
<!-- <app-amount-range></app-amount-range> -->
<!-- <app-theme-selector></app-theme-selector> -->
<!-- <app-user-register></app-user-register> -->
<!-- ------------------------------------------------- -->
<!-- <app-auth-user></app-auth-user> -->
<!-- <app-shoping-cart></app-shoping-cart> -->
<!-- <app-product></app-product> -->
<!-- <app-pipes></app-pipes> -->
<app-user-list></app-user-list>